@use "../utils" as u;
@use "../globals/colors" as colors;

.navbar {
  display: flex;
  align-items: center;
  padding: u.rem(22) u.rem(20);
  padding: 0.8vw 1vw;

  & > :not(:last-child) {
    margin-right: 3vw;
  }
}

.logo {
  width: 3.8vw;
}

.LogoTitle {
  display: flex;
  align-items: center;
  margin-bottom: 0.7vw;

  & > :not(:last-child) {
    margin-right: u.rem(18);
  }

  .refreshIcon {
    transform: rotate(40deg);
    width: 1.5vw;
    height: 1.5vw;
  }

  h1 {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 105%;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: colors.$yellow;
    }
  }
}

.downIcon {
  width: 1.2vw;
  height: 1.2vw;
}

.pageName {
  display: flex;
  align-items: center;

  & > :not(:last-child) {
    margin-right: u.rem(16);
  }
}
