@use "../globals/colors" as colors;
@use "../utils" as *;

.dropdown {
  position: absolute;
  top: 120%;
  right: 0;
  width: rem(280);
  background: #000000;
  box-shadow: 0px rem(20) rem(20) rgba(0, 0, 0, 0.35);
  border-radius: rem(8);
  padding: rem(14) rem(36);
  padding-bottom: rem(30);
  z-index: 50;

  transform: translateY(10%);
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s ease;
}

.dropdown.open {
  transform: translateY(0%);
  opacity: 1;
  pointer-events: visible;
}

.userCard {
  display: flex;
  align-items: center;
  padding: rem(14) 0;
  border-bottom: rem(2) solid colors.$yellow;
  position: relative;

  & > :not(:last-child) {
    margin-right: rem(16);
  }
}

.commentNumber {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
