@use "../utils" as u;

.contactCard {
  display: flex;
  align-items: center;

  .icon {
    display: flex;
    width: u.rem(50);
    color: var(--color-black);

    svg {
      width: u.rem(24);
      height: u.rem(24);
    }
  }
}

@include u.breakpoint(large) {
  .contactCard {
    .icon {
      display: flex;
      width: 2rem !important;
      font-size: 1.2rem !important;

      svg {
        width: unset !important;
        height: unset !important;
      }
    }
  }
}
